* {
  margin: 0;
  padding: 0; }

.container {
  box-sizing: border-box;
  border: 1px solid #cccccc;
  height: 50%;
  margin: 0 auto;
  max-height: 50vh;
  max-width: 50vh;
  padding: 0.5rem;
  overflow: hidden;
  width: 50%; }

.content-area {
  background-color: white;
  grid-area: content; }

.demo-area {
  background-color: white;
  grid-area: demo; }

.tutorial {
  align-items: stretch;
  display: grid;
  height: 100vh;
  grid-gap: 1rem;
  grid-template-areas: 'header header' 'content demo';
  grid-template-columns: auto 61.803398875vw;
  grid-template-rows: auto 1fr;
  width: 100vw; }
  .tutorial > .header {
    grid-area: header; }

.flex-container {
  display: flex; }
  .flex-container.column {
    flex-direction: column; }
  .flex-container.row {
    flex-direction: row; }
  .flex-container.wrap {
    flex-wrap: wrap; }
  .flex-container.nowrap {
    flex-wrap: nowrap; }
  .flex-container.align-flex-start {
    align-items: flex-start; }
  .flex-container.align-flex-end {
    align-items: flex-end; }
  .flex-container.align-center {
    align-items: center; }
  .flex-container.align-baseline {
    align-items: baseline; }
  .flex-container.align-stretch {
    align-items: stretch; }
  .flex-container.align-content-flex-start {
    align-content: flex-start; }
  .flex-container.align-content-flex-end {
    align-content: flex-end; }
  .flex-container.align-content-center {
    align-content: center; }
  .flex-container.align-content-baseline {
    align-content: baseline; }
  .flex-container.align-content-stretch {
    align-content: stretch; }
  .flex-container.justify-flex-start {
    justify-content: flex-start; }
  .flex-container.justify-flex-end {
    justify-content: flex-end; }
  .flex-container.justify-center {
    justify-content: center; }
  .flex-container.justify-space-between {
    justify-content: space-between; }
  .flex-container.justify-space-around {
    justify-content: space-around; }
  .flex-container.justify-space-evenly {
    justify-content: space-evenly; }

.flex-item {
  align-items: center;
  background-color: pink;
  display: flex;
  margin: 0.25rem;
  justify-content: center;
  padding: 2em 2.5em; }
  .flex-item.align-self-flex-start {
    align-self: flex-start; }
  .flex-item.align-self-flex-end {
    align-self: flex-end; }
  .flex-item.align-self-center {
    align-self: center; }
  .flex-item.align-self-baseline {
    align-self: baseline; }
  .flex-item.align-self-stretch {
    align-self: stretch; }
  .flex-item .index {
    font-size: 2em; }

.element {
  display: flex;
  flex-flow: column; }

.item-list-controls {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0.5rem; }
  .item-list-controls .control {
    box-sizing: border-box;
    margin: 0.25rem;
    padding: 0.5rem; }
